<!DOCTYPE html>
<html ng-app="jassa.ui.edit.demo.widgets">

<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <title>Spatial Curation Interface</title>

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!-- build:css(.tmp) styles/main.css -->

    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="bower_components/jassa-ui-angular/jassa-ui-angular.css" />
    <link rel="stylesheet" href="bower_components/angular-ui-select/dist/select.css" />
    <link rel="stylesheet" href="bower_components/selectize/dist/css/selectize.css" />
    <link rel="stylesheet" href="bower_components/jassa-ui-angular-edit/jassa-ui-angular-edit.css" />
    <link rel="stylesheet" href="bower_components/codemirror/lib/codemirror.css" />
    <!-- endbower -->

    <!-- endbuild -->

    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angularjs/angular.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/bluebird/js/browser/bluebird.js"></script>
    <script src="bower_components/jassa/jassa.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-ui-bootstrap-bower/ui-bootstrap-tpls.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/jquery-ui/ui/jquery-ui.js"></script>
    <script src="bower_components/angular-ui-sortable/sortable.js"></script>
    <script src="bower_components/angular-ui-utils/ui-utils.js"></script>
    <script src="bower_components/jassa-ui-angular/jassa-ui-angular-tpls.js"></script>
    <script src="bower_components/dddi-angular/dddi-angular.js"></script>
    <script src="bower_components/angular-ui-select/dist/select.js"></script>
    <script src="bower_components/sifter/sifter.js"></script>
    <script src="bower_components/microplugin/src/microplugin.js"></script>
    <script src="bower_components/selectize/dist/js/selectize.js"></script>
    <script src="bower_components/moment/moment.js"></script>
    <script src="bower_components/jassa-ui-angular-edit/jassa-ui-angular-edit-tpls.js"></script>
    <script src="bower_components/angular-smart-table/dist/smart-table.js"></script>
    <script src="bower_components/underscore/underscore.js"></script>
    <script src="bower_components/codemirror/lib/codemirror.js"></script>
    <script src="bower_components/angular-ui-codemirror/ui-codemirror.js"></script>
    <script src="bower_components/ng-stats/dist/ng-stats.js"></script>
    <!-- endbower -->

    <!-- endbuild -->


    <!-- End of automatic generated header - custom content below -->

    <script src="bower_components/openlayers/lib/OpenLayers.js"></script>

    <style>

    .repeat-item.ng-enter,
    .repeat-item.ng-leave {
      -webkit-transition:0.5s linear all;
      transition:0.5s linear all;
    }

    .repeat-item.ng-enter,
    .repeat-item.ng-leave.ng-leave-active {
      opacity:0;
    }
    .repeat-item.ng-leave,
    .repeat-item.ng-enter.ng-enter-active {
      opacity:1;
    }
    .repeat-item {
    }
    .delete {
      float: right;
    }

    .CodeMirror {
        border: 1px solid #eee;
        height: auto;
    }

    </style>

    <script src="lib/turtle-codemirror-mode/turtle-codemirror-mode.js"></script>

    <script type="text/javascript">
    // Init jassa
    jassa = new Jassa(Promise, $.ajax);
    </script>

    <!--script src="jassa-ui-angular-edit-tpls-0.9.0-SNAPSHOT.js"></script-->



    <script type="text/javascript">
    jassa = new Jassa(Promise, $.ajax);



    angular.module(
        'jassa.ui.edit.demo.widgets',
        ['dddi', 'smart-table', 'ngSanitize', 'ui.jassa', 'ui.bootstrap', 'ui.select', 'ui.jassa.edit', 'ui.jassa.rex', 'ui.codemirror', 'ngAnimate'])

    // This is deprecated
    //     .config(['$parseProvider', function($parseProvider) {
    //         $parseProvider.unwrapPromises(true);
    //     }])

    .config(function(GeocodingLookupProvider) {
      /*
       GeocodingLookupProvider.setConfiguration({
       service: ['LinkedGeoData', 'Nominatim'],
       defaultService: true
       });
       */
      // set NOKIA service
      GeocodingLookupProvider.setService({
        label: 'Nokia HERE',
        serviceType: 'rest',
        url: 'http://geocoder.cit.api.here.com/6.2/geocode.json',
        data: {
          app_id: 'DemoAppId01082013GAL',
          app_code: 'AJKnXv84fjrb0KIHawS0Tg',
          additionaldata: 'IncludeShapeLevel,default',
          mode: 'retrieveAddresses',
          searchtext: '%KEYWORD%'
        },
        fnSuccess: function(response) {
          var data = response.data.Response.View.length > 0 ? response.data.Response.View[0].Result : [];
          var resultSet = [];
          for(var i in data) {
            if(data[i].Location.hasOwnProperty('Shape')) {
              resultSet.push({
                'firstInGroup': false,
                'wkt': data[i].Location.Shape.Value,
                'label': data[i].Location.Address.Label,
                'group': 'Nokia HERE'
              });
            }
          }
          return resultSet;
        }
      });

      // set LINKEDGEODATA service
      GeocodingLookupProvider.setService({
        label: 'LinkedGeoData (User Config)',
        serviceType: 'sparql',
        endpoint: 'http://linkedgeodata.org/vsparql',
        graph: 'http://linkedgeodata.org/ne/',
        prefix: {
          ogc: 'http://www.opengis.net/ont/geosparql#',
          geom: 'http://geovocab.org/geometry#'
        },
        query: '{'
          +' Graph <http://linkedgeodata.org/ne/> {'
          +' ?s a <http://linkedgeodata.org/ne/ontology/Country> ;'
          +' rdfs:label ?l ;'
          +' geom:geometry ['
          +'  ogc:asWKT ?g'
          +' ] '
          +' FILTER regex(?l, "%KEYWORD%", "i") '
          +' } '
          +'}',
        sponateTemplate: [{
          id: '?s',
          label: '?l',
          wkt: '?g'
        }],
        limit: 5,
        fnSuccess: function(response) {
          var data = response;
          var resultSet = [];
          if (data.length > 0) {
            for(var i in data) {
              resultSet.push({
                'firstInGroup': false,
                'wkt': data[i].val.wkt,
                'label': data[i].val.label,
                'group': 'LinkedGeoData (User Config)'
              });
            }
          }
          return resultSet;
        }
      });
    })

    .controller('AppCtrl', ['$scope', '$dddi', '$location', '$anchorScroll', '$timeout', '$http', '$q',
        function($scope, $dddi, $location, $anchorScroll, $timeout, $http, $q) {

          var concept = new jassa.sparql.Concept(
            jassa.sparql.ElementString.create('?s a <http://fp7-pp.publicdata.eu/ontology/Partner>'),
            jassa.rdf.NodeFactory.createVar('s'));

          var sparqlService = jassa.service.SparqlServiceBuilder
            .http('http://fp7-pp.publicdata.eu/sparql', ['http://fp7-pp.publicdata.eu/'], {type: 'POST'})
            .create();

          jassa.service.ServiceUtils.fetchItemsConcept(sparqlService, concept, 10).then(function(nodes) {
            console.log('Partner:', JSON.stringify(nodes));

            var query = new jassa.sparql.Query();
            var s = jassa.rdf.NodeFactory.createUri(nodes[1].uri);
            var p = jassa.rdf.NodeFactory.createVar('p');
            var o = jassa.rdf.NodeFactory.createVar('o');

            var triple = new jassa.rdf.Triple(s, p, o);

            query.getProject().add(p);
            query.getProject().add(o);
            query.setQueryPattern(new jassa.sparql.ElementTriplesBlock([triple]));
            query.setLimit(100);
            console.log('sparql query', query.toString());

            var qe = sparqlService.createQueryExecution(query);

            qe.execSelect()
              .then(function(rs) {
                console.log('results for subject', rs);
                var properties = {};
                while(rs.hasNext()) {
                  var binding = rs.nextBinding();
                  properties[binding.get(p).getUri()] = binding.get(o).isUri() ? binding.get(o).getUri() : binding.get(o).getLiteral().toString();
                }
                console.log('properties', properties);
              })
          }, function() {
            console.log('Fail');
          });


          var store = new jassa.sponate.StoreFacade(sparqlService, {
            // add new prefixes
            'fp7o': 'http://fp7-pp.publicdata.eu/ontology/'
          });


          store.addMap({
            name: 'projects',
            template: [{
              id: '?s',
              name: '?l',
              address: {
                id: '?address',
                city: '?city',
                country: '?country',
                geocoding: {
                  city: '',
                  country: ''
                }
              }
            }],
            from: '?s a fp7o:Partner ; rdfs:label ?l ; fp7o:address ?address . ?address fp7o:city ?city . ?address fp7o:country ?country'
          });

          store.projects.getListService().fetchItems(null, 20).then(function(entries) {
            entries.then(function(response) {
              console.log('ENTRIES: ', response);

              var cityUri = response[0].val.address.city;
              var cityLabel = cityUri.substr(cityUri.lastIndexOf('/') + 1);
              console.log('Address for first entry: ', cityLabel);
              var promise = restServiceRequest('Nominatim', cityLabel);
              promise.then(function(response) {
                console.log('Possible values for first city for first entry', response);
              });
              $scope.rowCollection = response;
              $scope.displayedCollection = [].concat($scope.rowCollection);
            })
          });

          var defaultServices = {
            Nominatim: {
              label: 'Nominatim',
              serviceType: 'rest',
              url: 'http://nominatim.openstreetmap.org/search/?format=json&polygon_text=1&q=',
              data: {
                format: 'json',
                polygon_text: '1',
                q: '%KEYWORD%'
              },
              fnSuccess: function(response) {
                var data = response.data;
                var resultSet = [];
                for (var i in data) {
                  if (data[i].hasOwnProperty('geotext')) {
                    resultSet.push({
                      firstInGroup: false,
                      wkt: data[i].geotext,
                      label: data[i].display_name,
                      group: 'Nominatim'
                    });
                  }
                }
                return resultSet;
              }
            }
          };

          var restServiceRequest = function(service, keyword) {
            var queryString = queryData(defaultServices[service].data).replace(/%KEYWORD%/gi,keyword);
            return $http({
              'method': 'GET',
              'url': defaultServices[service].url+'?'+queryString,
              'cache': true,
              'headers' : {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
              }
            });
          };

          var queryData = function(data) {
            var ret = [];
            for (var d in data) {
              ret.push(d + '=' + data[d]);
            }
            return ret.join('&');
          };

        $scope.rowCollection = [];
        $scope.locationSuggestions = {};

        $scope.location = '';

        var extractLocation = function(string) {
          return string.substr(string.lastIndexOf('/') + 1).replace(/-/gi,' ');
        };

        $scope.runGeocoderForLocation = function(locationUri) {
          var extractedLocation = extractLocation(locationUri);
          if (!$scope.locationSuggestions.hasOwnProperty(locationUri)) {
            console.log('yes, ' + locationUri + ' was already fetched.');
            restServiceRequest('Nominatim', extractedLocation).then(function(geocoderResult) {
              console.log('Possible values for first city for first entry ' + locationUri, geocoderResult);
              $scope.locationSuggestions[locationUri] = geocoderResult.data;
            });
          }
        };

        $scope.testfunction = function(item, model) {
          console.log('item, model, rows', item, model);
          console.log('rowCollection', $scope.rowCollection);
        };

        $scope.testfunction2 = function(label) {
          var cache = {
            'http://fp7-pp.publicdata.eu/resource/city/Albania-TIRANA': {
              geotext: 'POLYGON',
              display_name: 'Tirana'
            },
            'http://fp7-pp.publicdata.eu/resource/city/Argentina-CORDOBA': {
              geotext: 'POINT',
              display_name: 'Cordoba'
            }
          };
          return [].push(cache[label]);
        };

        $scope.copy = angular.copy;

        //showAngularStats();
    }]);

    </script>
</head>


<body ng-controller="AppCtrl">
<header>
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <span class="navbar-brand" href="#">Spatial Curation Interface</span>
        <ul class="nav navbar-nav">
          <li><a href="#"></a></li>
        </ul>
      </div>
    </div>
  </nav>
</header>
<div style="padding-top: 60px;" class="container-fluid">
  <div class="row">
    <table st-table="displayedCollection" st-safe-src="rowCollection" class="table table-striped">
      <thead>
      <tr>
        <th st-sort="subject">partner</th>
        <th st-sort="address">address</th>
        <th st-sort="country">country</th>
        <th st-sort="city">city</th>
      </tr>
      <tr>
        <th colspan="5"><input st-search="" class="form-control" placeholder="global search ..." type="text"/></th>
      </tr>
      </thead>
      <tbody>
      <tr st-select-row="row" st-select-mode="multiple" ng-repeat="row in rowCollection">
        <td>{{row.val.id}}</td>
        <td>{{row.val.address.id}}</td>
        <td>
          <div>
            {{row.val.address.country}}
          </div>
          <!-- disabled
          <div>
            <ui-select ng-model="row.val.address.geocoding.country.selected" theme="bootstrap" on-select="testfunction($item, $model)">
              <ui-select-match placeholder="Select a spatial suggestions">{{$select.selected.geotext}}</ui-select-match>
              <ui-select-choices repeat="location in locationSuggestions[row.val.address.country] track by $index"
                                 refresh="runGeocoderForLocation(row.val.address.country)"
                                 refresh-delay="0">
                <div ng-bind-html="location.display_name | highlight: $select.search"></div>
                <small>
                  WKT: {{location.geotext}}
                </small>
              </ui-select-choices>
            </ui-select>
          </div>-->
        </td>
        <td>
          <div>
            {{row.val.address.city}}
          </div>
          <div>
            <ui-select ng-model="row.val.address.geocoding.city.selected" theme="bootstrap" on-select="testfunction($item, $model)">
              <ui-select-match placeholder="Select a spatial suggestions">{{$select.selected.geotext}}</ui-select-match>
              <!--ui-select-choices repeat="location in testfunction2(row.val.address.city)">
                <div ng-bind-html="location.display_name | highlight: $select.search"></div>
                <small>
                  WKT: {{location.geotext}}
                </small>
              </ui-select-choices-->
              <ui-select-choices repeat="location in locationSuggestions[row.val.address.city] track by $index"
                                 refresh="runGeocoderForLocation(row.val.address.city)"
                                 refresh-delay="0">
                <div ng-bind-html="location.display_name | highlight: $select.search"></div>
                <small>
                  WKT: {{location.geotext}}
                </small>
              </ui-select-choices>
            </ui-select>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

</div>
</body>

</html>
